<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="3.5.2" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.2045.28" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Unosquare.Swan.Lite" version="3.1.0" targetFramework="net481" />
</packages>